
/*news*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}

.containerNews {
    background-color: #d9ecf2;
    font-family: '微軟正黑體', sans-serif;
    color: #666;
}

.titleH {
    color: #444;
    font-family: '微軟正黑體', sans-serif;
}

thead {
    font-family: '微軟正黑體', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666;
    text-align: center;
}


.bg-blue {
    background-color: #EBF5FB;
    /* border-radius: 8px; */
}

/* .fa-check,
.fa-minus {
    color: blue;
} */

.bg-blue:hover {
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer;
}

/* .bg-blue:hover .fa-check,
.bg-blue:hover .fa-minus {
    background-color: #3e64ff;
    color: #eee;
} */



.table2 thead th,
.table2 td {
    border: none;
    padding-left:15px; /* 欄位內容間距 */
}

.table2 tbody td:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.table2 tbody td:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#spacing-row {
    height: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 575px) {
    .container {
        width: 125%;
        padding: 20px 10px;
    }
}

.card {
  width: 300px;
  height: 200px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: antiquewhite;
    font-family: '微軟正黑體', sans-serif;
}

.footer-column {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    font-family: '微軟正黑體', sans-serif;
    padding: 10px;
    
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.footer ul {
    list-style-type: none;
}

.google-icon {
    color: #db4437;
    font-size: 50px; /* 調整所需的大小值 */
}

.twitter-icon {
    color: #41abe1;
    font-size: 50px; /* 調整所需的大小值 */
}

.facebook-icon {
    color: #3a5795;
    font-size: 50px; /* 調整所需的大小值 */
}

.banner {
    background-image: url(../images/header_desktop.png);
    background-size: cover;
    background-position: 50%;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}


.navbar-light .navbar-text {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 24px;
    color: #127e69 !important;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #127e69;
    text-decoration: underline;
}

.ml-auto .nav-link {
    background: linear-gradient(to right, #68eb96, #5fe65f);
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    width: 110px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

.fa-solid {
    color: #00d42e;
    margin-right: 20px;
    font-size: 24px;

}

.ml-auto {
    margin-right: 30px;
}



.bar {
    background: linear-gradient(to right, #28d64b, #01c22b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.bar-text {
    font-size: 64px;
    color: #fff;
}